<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nextix.nixetherwallet" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>nix</name>
    <description>
        Next IX Ether Wallet and Exchange App
    </description>
    <author email="joan@nextixsystems.com" href="http://cordova.io">
        Joan Evangelista
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon src="res/icon/android/icon.png" />
        <allow-intent href="market:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-settings-hook" spec="^0.2.7" />
    <engine name="android" spec="^6.4.0" />
</widget>
